@use '../styles/variables' as *;

.actions-toolbar {
  gap: $spacing-xxs;
  top: $spacing-sm;
  right: $spacing-sm;
  display: flex;
  z-index: $z-index-sticky;
  position: fixed;
  align-items: center;
}
