@use '../styles/variables' as *;

.view-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    padding: $spacing-md $spacing-sm;

    button {
      margin-right: 0.375rem; // 6px
    }
  }

  &__actions {
    display: flex;
    gap: $spacing-xs;
    margin-left: auto;
  }

  &__content {
    flex: 1;
    padding: $spacing-lg 0;
    overflow: auto;
  }
}
