# Dependencies
node_modules

# Build outputs
dist
out
.webpack
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Config
package-lock.json
