@use '../styles/variables' as *;

.home {
  height: 100vh;
  display: flex;
  align-items: center;

  &__container {
    width: 100%;
  }

  &__header {
    margin-bottom: $spacing-xl;
  }

  &__title {
    margin-bottom: $spacing-xl;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: $spacing-xl;
    text-align: center;
  }

  &__cards-grid {
    display: grid;
    gap: $spacing-lg;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: $breakpoint-sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}