.home {
  height: 100vh;
  display: flex;
  align-items: center;

  &__container {
    width: 100%;
  }

  &__header {
    margin-bottom: 48px;
  }

  &__title {
    margin-bottom: 48px;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 48px;
    text-align: center;
  }

  &__cards-grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.card {
  height: 100%;
  background-color: #ffffff !important;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 8px 16px rgba(0, 84, 97, 0.2);
  }

  &__action {
    height: 100%;
    padding: 24px;
  }

  &__content {
    text-align: center;
  }

  &__icon {
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 8px;
  }
}
