@use '../styles/variables' as *;

.splash {
  height: 100vh;
  display: flex;
  align-items: center;

  &__container {
    width: 100%;
  }

  &__title {
    margin-bottom: $spacing-md;
    text-align: center;
    font-weight: $font-weight-semibold;
    color: $color-primary-dark;
  }

  &__subtitle {
    text-align: center;
    font-weight: $font-weight-light;
  }
}
