.splash {
  height: 100vh;
  display: flex;
  align-items: center;

  &__container {
    width: 100%;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;
    font-weight: 600;
    color: #005461;
  }

  &__subtitle {
    text-align: center;
    font-weight: 300;
  }
}
