.data-table-empty {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  padding: 3rem 1rem;
  min-height: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__icon {
    width: 400px;
    max-width: 90%;
    height: auto;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    margin: 0;
    color: var(--text-secondary);
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__description {
    color: var(--text-disabled);
    margin: 0;
    font-size: 0.875rem;
  }
}
